@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-aima-white font-catamaran text-aima-black;
}

/* Removes the outline color on focus that Flowbite adds by default */
[multiple]:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='email']:focus,
[type='month']:focus,
[type='number']:focus,
[type='password']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='text']:focus,
[type='time']:focus,
[type='url']:focus,
[type='week']:focus,
select:focus,
textarea:focus {
  box-shadow: none !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* remove default eye in password input type*/
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-5 md:px-10;
}
